.historyTitle{
    font-size: 19px;
    margin: auto;
    width: 880px;
    color: rgba(255, 195, 67, 0.95);
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
    padding: 10px;
    border-radius: 8px;
    min-height: 50px;
    transition: all .3s ease;
}
.historyTitle:hover{
    color: rgba(48, 48, 48);
    background-color: rgb(255, 195, 67, 0.95);
    transition: all .3s ease;

}
.historyPosterContainer{
    width: 68px;
    position: relative;
    top: 0px;
    padding: 10px;
    margin: 10px 0 10px 0;
    height: auto;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.03);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset;
}
.historyDetails{
    margin-top: -20px;
    margin-right: 60px;
    color: rgba(200, 200, 200, 0.562);
}

.historyPoster{
    border-radius: 4px;
    width: auto;
    height: 68px;
    float: left;
    margin: 2px 0 0 25px;
}
/* .bookmark {
    position: absolute;
    top: 110px;
    right: 145px;
    padding: 6px 8px;
    background-color: rgba(255, 195, 67, 0.95);
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
} */