

.container{

    top: 10px;
    margin: 0;
    padding: 10px;
}
h3{
    
    margin: 0 auto;
    width: 300px;
    color: rgba(255, 195, 67, 0.95);
    background-color: rgb(48, 48, 48);
    padding: 10px;
    border-radius: 3px;
    min-height: 50px;
    transition: all .5s ease;
}
h3:hover{
    color: rgba(48, 48, 48);
    background-color: rgb(255, 195, 67, 0.95);
    transition: all .5s ease;

}
.posterContainer{
/*     width: 400px;
 */    /* left: 50%; */
    position: relative;
    top: 50px;
    padding: 20px;
    margin: 20px;
    height: auto;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.03);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset;
}
.historyDetails{
    margin-right: 270px;
}

.historyPoster{
    border-radius: 4px;
    width: auto;
    height: 120px;
    float: left;
    margin: -10px 10px 10px 0px;
}
.bookmark {
    position: absolute;
    top: 110px;
    right: 145px;
    padding: 6px 8px;
    background-color: rgba(255, 195, 67, 0.95);
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}