.historyTitle{
    font-size: 14px;
    margin: 5px auto ;
    height:auto;
    width: 350px;
    color: rgba(255, 195, 67, 0.95);
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
    padding: 15px;
    border-radius: 6px;
    min-height: 50px;
    transition: all .3s ease;
}
.Htitle{
    position: relative;
    margin: -5px 0 10px 50px;
    font-weight: bold;
    width: 280px;
    color: rgba(255, 195, 67, 0.95);
    background-color: rgb(48, 48, 48);
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;  
    border-radius: 6px;
    padding: 10px;
     
}
/*  .rating{
    font-size: 14px;
    margin: 0 auto;
    width: 350px;
    height:140px;
    color: rgba(255, 195, 67, 0.95);
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
    padding: 15px;
    border-radius: 6px;
    min-height: 50px;
    transition: all .3s ease;
}  */
.Htitle:hover{
    color: rgba(48, 48, 48);
    background-color: rgb(255, 195, 67, 0.95);
    transition: all .3s ease;
}
.historyPosterContainer{
    width: 68px;
    position: relative;
    top: 0px;
    padding: 10px;
    margin: 10px 0 10px 0;
    height: auto;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.03);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset;
}
.historyDetails{
    position: relative;
    margin: 0px auto 0 30px;
    width: 170px;
    color: rgba(200, 200, 200, 0.8);
    padding:10px auto 0px auto;
}

.historyPoster{
    border-radius: 4px;
    width: 50px;
    height: 70px;
    float: left;
    margin: 10px 0 0 10px;
    position: relative;
    object-fit: cover;

}
/* .bookmark {
    position: absolute;
    top: 110px;
    right: 145px;
    padding: 6px 8px;
    background-color: rgba(255, 195, 67, 0.95);
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
} */