body {
  max-width: 1680px;
  margin: 70px 0 0 0 ;
  padding:0;
  background-color: rgb(43, 43, 43);color:white; 
  height: 100%;
}

.profile {
    padding: 20px;
    margin-top: -600px;
    width: 1080px;
    margin: 0 auto 600px auto;
    font-family: Arial, sans-serif;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    border-radius: 5px;
}

.top {
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset; 
    padding: 10px;
    border-radius: 5px;
    color: antiquewhite;
    justify-content: center;
    display: flex;
    align-items: center;
}
.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
a{color: rgba(255, 195, 67, 0.95);}


.btnProfile {
    background-color: rgb(49, 49, 49);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset; 

}
.btnProfile:hover {
    background-color: rgb(60, 60, 60);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset; 
    border: #333 1px solid;
    transition: all 0.3s ease;
}
.contentContainer {
    display: flex;
    flex-direction: row;
    border: green 4px solid;
}
.bookmarksContainer {
    padding: 10px;
    border: rgb(13, 13, 26) 4px solid;
    width: 700px;
    margin: 5px;
    
    
}
.bookmarkPosterContainer {

    width: 600px;
    height: 120px;
    position: relative;
    top: 0px;
    padding: 10px;
    margin: 10px auto 10px;
    border-radius: 3px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255,255,255,0.08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
}

.bookmarkTitle{
    font-size: 18px;
    text-align: left;
    margin: 5px 100px;
    width: 300px;
    min-height: 30px;
    height: auto;
    color: rgba(255, 195, 67, 0.95);
    background-color: rgb(48, 48, 48);
    padding: 10px;
    border-radius: 3px;
    border: #333 1px solid;
    transition: all .3s ease;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;

}

.bookmarkTitle:hover{
    color: rgba(48, 48, 48);
    background-color: rgb(255, 195, 67, 0.95);
    transition: all .3s ease;

}
.bookmarkPoster{
    position: relative;
    border-radius: 4px;
    width: auto;
    height: 120px;
    float: left;
    margin-right: 10px;
    
}

.removeBtn {
    position: absolute;
    left: 510px;
    top: 15px; 
    padding: 8px 12px;
    background-color: rgba(255, 195, 67, 0.95);
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset;
    transition: all 0.2s ease;
}
.removeBtn:hover {
    background-color: rgb(60, 60, 60);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7) inset; 
    transition: all 0.2s ease;
}
.outlet {
    margin: 5px;
    padding: 10px;
    border: purple 4px solid;
    width: 400px;
}
