body {
  max-width: 10280px;
  margin: 0 auto;
  margin-top: 70px;
  padding:0;
  text-align: center;
  background-color: rgb(43, 43, 43);
  justify-content: center ;
}
h1
{
  margin: 0px;
  font-size: 5.2em;
  line-height: 1.1;

}

.imgContainer
{
    top: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
    min-width: 500px;
    max-width: 1280px;   
}

.displayMovie
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.03);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset;
    margin: 15px;
    padding: 15px;
    width: auto;
    height: 250px;
    min-width: 500px;
}
.moviePoster
{
    padding: 5px;
    height: 200px;
    width: 170px;
    margin-right: 5px;
    border-radius: 5px;
    justify-content: center;
}
img
 {
    border-radius: 5px;
    height: 200px;
    width: auto;
}
.textholder
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(24,24,24,0.4);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) outset;
    width: 70%;
    margin: 20px;
    height: 240px;
}
.movieTitle
{
    font-size: 150%;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 195, 67, 0.95);
    border-radius: 2px;
    margin: 10px 10px 0 10px;
}
.movieDescription
{
    margin-top:0px;
    text-align:  left;
    font-size: 1em;
    padding: 10px;
}
.profileholder
{

  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid rgba(255,255,255,0.06);
  background: rgba(255,255,255,0.02);
}

.profileholder:hover + .btnLogout
{
    display: block;
    position: absolute;
    left: 94%;
    top:55px;
}
.btnLogout:hover
{
    display: block;
    position: absolute;
    left: 94%;
    top:55px;
}
.profileIcon
{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}
.btnLogout {
    margin: 0px;
    display: none;
    padding: 8px 12px 8px 12px;
}
.Logout{
    background-color: rgb(49, 49, 49);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset; 
    padding: 8px 12px 8px 12px;
    width: 80px;
}