body {
  max-width: 10280px;
  margin: 0 auto;
  margin-top: 70px;
  padding:0;
  text-align: center;
  background-color: rgb(43, 43, 43);
  justify-content: center ;

}
h1
{
  margin: 0px;
  font-size: 5.2em;
  line-height: 1.1;

}


.imgContainer
{
    top: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    min-width: 500px;
    max-width: 1280px;
    

}

.displayMovie
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.03);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset;
    margin: 15px;
    padding: 2px;
    width: auto;
    height: auto;

}
.moviePoster
{
    padding: 10px;
    height: 400px;
    width: 270px;
    border-radius: 5px;
}
img
 {
    border-radius: 5px;
    height: 400px;
    width: auto;
}
.textholder
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.08);
    background: rgba(24,24,24,0.4);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4) outset;
    width: 70%;
    margin: 20px;

}
.movieTitle
{
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 195, 67, 0.95);
    border-radius: 2px;
    margin: 10px 10px 0 10px;
}
.movieDescription
{
    margin-top:0px;
    text-align:  left;
    font-size: 1em;
    padding: 10px;

}
